{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

{{ aritcle.title }}
{{ article.user.username }}
{{ article.grade }} | {{ article.genre }}
{{ article.content }}
{{ article.moviename }}
{{ article.created_at }} | {{ article.updated_at }}

<h3> 댓글 </h3>
<form action="{% url 'articles:comments' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit">OK</button>
</form>

{% for comment in article.comment_set.all %}
<p>{{ comment.content }}</p>
<p>{{ comment.user }} | {{ comment.created_at }}</p>
<a href="{% url 'articles:comments_delete' article.pk comment.pk %}">삭제</a>
{% endfor %}
{% endblock content %}